<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uway.mobile.mapper.SecSettingMapper">

	<insert id="insertSecSetting" parameterType="com.uway.mobile.domain.SecSetting"
		useGeneratedKeys="true" keyProperty="id">
		insert into sec_setting(sec_cheat_website,sec_sham_adv,sec_sexy_info,sec_harm_program,sec_tort_content,
							sec_illegal_gamble,sec_illegal_site,sec_phishing_site,sec_sexy_site,device_id) 
							values(#{secCheatWebsite},#{secShamAdv},#{secSexyInfo},#{secHarmProgram},#{secTortContent},
									#{secIllegalGamble},#{secIllegalSite},#{secPhishingSite},#{secSexySite},#{deviceId})
	</insert>
	
	<update id="updateSecSetting" parameterType="com.uway.mobile.domain.SecSetting">
		update sec_setting set sec_cheat_website=#{secCheatWebsite},sec_sham_adv=#{secShamAdv},
			sec_sexy_info=#{secSexyInfo},sec_harm_program=#{secHarmProgram},sec_tort_content=#{secTortContent},
			sec_illegal_gamble=#{secIllegalGamble},sec_illegal_site=#{secIllegalSite},sec_phishing_site=#{secPhishingSite},
			sec_sexy_site=#{secSexySite} where id=#{id}
	</update>
	
	<delete id="deleteById">
		delete from sec_setting where id=#{id}
	</delete>
	
	<select id="getSecSettingById" resultType="com.uway.mobile.domain.SecSetting">
		select * from sec_setting where id = #{id}
	</select>
	
	
	<select id="getSecSettingByDeviceId" resultType="com.uway.mobile.domain.SecSetting">
		select * from sec_setting where device_id = #{deviceId}
	</select>

</mapper>  
